# ESP-IDF build artifacts
build/
*.bin
*.elf
*.map

sdkconfig.ci

# File with Wi-Fi credentials
wifi_config.h

# Python cache
__pycache__/
*.pyc
*.pyo

# VSCode
.vscode/settings.json

# Editor backups
*.bak
*.swp
*~

# Environment
.env/
.envrc
*.env

# ESP-IDF Python virtual environment (optional)
venv/
